/* .red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.white {
    color: white;
} */

.colorContainer {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.buttonsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}