.container {
  text-align: center;
  margin-top: 12em;
  background-color: #faccda23;
  box-shadow: 15px 15px 26px #a16f7dbd;
  width: 28em;
  align-self: center;
  padding: 0.5em 2em 2em 2em;
  border: 0.15em solid #ca93a3bd;
}

.input-div {
  width: 100%;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  gap: 1em;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 0.4em;
  border: 1px solid #ca93a3bd;
  box-shadow: 1.5px 1.5px 3px #a16f7d7c;
  color: #484848;
  flex: 1;
}

h1 {
  font-size: 4rem;
  color: #6e3c4a;
}

button {
  font-size: 1.7rem;
  padding: 0.3em 0.45em;
  border: none;
  border-radius: 500px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  box-shadow: 1.5px 1.5px 3px #9e9e9ec5;
}

.add-btn {
  background-color: #26c267;
}

.add-btn:hover {
  background-color: #49e28b;
}

.delete-btn {
  background-color: #b81320;
}

.delete-btn:hover {
  background-color: #ff7681;
}

.move-btn {
  background-color: #584ee0;
}

.move-btn:hover {
  background-color: #9c95ff;
}

ol {
  margin-top: 2em;
  padding: 0;
}

li {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0.4em;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #c45c7988;
  box-shadow: 1.5px 1.5px 3px #b44e6b7c;
  display: flex;
  align-items: center;
  color: #6e3747;
}

.task-text {
  flex: 1;
}

.delete-btn, .move-btn {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 0.5em;
}