header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    padding-block: 15px;

    .logoLink {
        height: 60px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .navbar {

        .navigationLinks {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 30px;

            .listItem {
                
                Link {
                    color: red;
                }

                .link {
                    text-decoration: none;
                    color: black;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}