@import "../../styles/globals.module.scss";
@import "../../styles/animations.module.scss";

.card {
    background-color: white;
    color: #3f3f3f;
    padding: 1em 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    height: auto;
    opacity: 0;
    animation: fade-in 2s linear forwards;

    .title {
        font-size: 2em;
    }

    .description {
        font-size: 1em;
        font-weight: light;
    }

    .readBtn {
        background-color: palevioletred;
    }

    .btnContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
        width: 100%;

        .readBtn {
            background-color: palevioletred;
        }

        .contactBtn {
            background-color: coral;
            color: $colorDark;
        }
    }
}

.card:nth-child(2) {
    animation: fade-in 2s linear forwards 0.5s;
}