.formElement {
    background-color: #f5f5f5;
    width: 180px;
    color: #2b2b2b;
    padding: 10px 25px;
    border-radius: 20px;

    .title {
        margin-top: 0;
        text-align: center;
    }
}